<% if @course.errors.any? %>
  <div class="ui error message" >
    <div class="header" >
      The form contains <%= pluralize(@course.errors.count, "error") %>:
    </div>
    <ul> 
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@course, html: { class: 'ui form' }) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content, rows: 10 %>
  </div>
  
  <%= f.submit "Save", class: "ui blue button" %>

<% end %>
