<div class="ui inverted massive top blue secondary pointing fixed menu">
  <div class="ui container">
    
    <%= active_link_to 'Home', root_path, class: "item", active: :exact %>
    <%= active_link_to 'Offers', "#", class: "item", active: :exact %>
    <%= active_link_to 'About us', "#", class: "item", active: :exact %>
    <%= active_link_to 'Contact us', "#", class: "item", active: :exact %>
    
    <div class="right menu">
    <% if !user_signed_in? %>
      <div class="item">
        <%= link_to "Log in", new_user_session_url, class: "ui inverted button" %>
      </div>
      <div class="item">
        <%= link_to "Sign up", new_user_registration_url, class: "ui inverted button" %>
      </div>
    <% else %>
      <%= link_to conversations_path, class: 'item' do %>
        
        <%= content_tag :i, "", class: 'user icon' %>Profile
        <% end %>  
      <div class="item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
    </div>
  </div>
</div>
