<!DOCTYPE html>
<html>
  <head>
    <title>EdY</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="wrapper" >
 
      <% if notice %><div class="ui info message"><%= notice %></div><% end %>   
      <% if alert %><div class="ui negative message"><%= alert %></div><% end %>


      <%= yield %>
    </div>
  </body>
</html>
